
<div>
	Microsoft Windows [<span alt="For unknown reasons, Windows 11 is still Version 10 lol">Version
		10.0.xxxxx.xxxx</span>]<br />
	(c) 2021 Microsoft Corporation. All rights reserved.<br /><br />
	C:\Users\you> wsl<br />
	<span class="blue">you</span>@<span class="green">wslu_site</span><span class="red">$</span>
	<span class="green">cd</span> /data/sites/wslu
	<br />
	<span class="blue">you</span>@<span class="green">wslu_site</span><span class="red">$</span>
	<span class="green">pwd</span>
	<br />
	/data/sites/wslu<br />
	<span class="blue">you</span>@<span class="green">wslu_site</span><span class="red">$</span>
    <span class="green">cat</span> .<%= url_for(path).replace("/index.html", ".md") %> 
	<h1><%= page.title|| __('Untitled') %></h1>

	---<br />
	date: <%= date(page.date,  "MMM DD, YYYY") %><br />
	share: <a href="https://toot-api.wedotstud.io/?title=<%= page.title %>&url=<%= url %>&shareonly" target="_blank">Mastodon</a> | <a href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%= url %>" target="_blank">Twitter</a> <br />
	---
</div>