<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
  <%
    var title = titlecase(page.title);

    if (is_archive()){
      title = 'Archives';   
    } else if (is_category()){
      title = page.category;
    } else if (is_tag()){
      title = __('Page.Tags') + ': ' + page.tag;
  }
  %>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@wslutilities" />
  <meta name="twitter:creator" content="@wslutilities" />
  <meta property="og:url" content="<%= config.url + '/' + page.path %>" />
  <meta property="og:title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>" />
  <meta property="og:image" content="https://cdn.patrickwu.space/base/wsl.png" />
  <title><% if (title){ %> <%= title %> | <% } %>WSL Utilities </title>


  <link rel="icon" type="image/png" href="https://github.com/wslutilities/wslu/raw/master/extras/icon.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css">

  <script async src="https://analytics.wedotstud.io/honk" data-website-id="72de4e8a-9d94-4ff9-a3cf-793d21c4f595"></script>

<link rel="stylesheet" href="//wslutiliti.es/style.css" />
<%- css('blog') %> 
</head>